h1{
    background-color: aqua;
    display: inline;
    width: 200px;
    height: 200px;
}

p{
    background-color: aquamarine;
    display: none;
}

span{
    background-color: brown;
    display: block;
    width: 100px;
    height: 100px;
}